body {
    background-color: white;
    padding-top: 50px;
    margin-top: 50px;
    align-content: center;
    text-align: center; justify-content: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

}

#homeHeader {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 25px;
}

#contactHeader {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#aboutHeader {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

p {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-around;
    align-content: justify;
    padding: 50px;
    border: 15px solid yellow;
    margin: 20px;

}
#navContainer{
    font-family: 'Courier New', Courier, monospace;
font-size: 25px;
 border: dotted 3px blue;
  width: 100%;
  display:flex;
  justify-content: center;


}
   
nav {
    border: whitesmoke;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
display: flex;
justify-content: space-around;
}

